body {
  background-color: antiquewhite;

}

button {
  width: 100px;
  height: 80px;
  text-align: center;
  margin-top: 200px;
  margin-left: 650px;
}

h2 {
  text-align: center;
  margin-left: 100px;
  margin-top: 100px;
}

button:hover {
  transition: 5s ease-in-out;
}